
    <div class="Header-nav-inner lang-vn">
        <a href="/en/home/#about_nam_bui" class="Header-nav-item multilanguage lang-en">About Nam Bui</a><span
            class="Header-nav-item Header-nav-item--folder">

      <a href="/hotel-resorts/" class="Header-nav-folder-title" data-controller="HeaderNavFolderTouch"
         data-controllers-bound="HeaderNavFolderTouch">Hotels &amp; Resorts</a>

      <span class="Header-nav-folder">
              <a href="/hotel-resort-an-lam-retreat-ninh-van-bay" class="Header-nav-folder-item">AN LAM RETREAT - NINH VAN BAY</a>

              <a href="/luxury-resort-amiana-nha-trang" class="Header-nav-folder-item">AMIANA NHA TRANG</a>

              <a href="/luxury-resort-fusion-resort-nha-trang" class="Header-nav-folder-item">FUSION RESORT NHA TRANG</a>

              <a href="/luxury-resort-vinpearl-luxury-nha-trang" class="Header-nav-folder-item">VINPEARL LUXURY NHA TRANG</a>

              <a href="/luxury-resort-ho-tram-strip" class="Header-nav-folder-item">LUXURY RESORT HO TRAM STRIP</a>

              <a href="/hotel-novotel-saigon" class="Header-nav-folder-item">NOVOTEL SAIGON</a>

              <a href="/wyndham-ha-long" class="Header-nav-folder-item">WYNDHAM HA LONG</a>
      </span>
    </span><span class="Header-nav-item Header-nav-item--folder">

      <a href="/others/" class="Header-nav-folder-title" data-controller="HeaderNavFolderTouch"
         data-controllers-bound="HeaderNavFolderTouch">Others</a>

      <span class="Header-nav-folder">
              <a href="/villa-caye-sereno-ha-long" class="Header-nav-folder-item">CAYE SERENO HA LONG</a>
              <a href="/villa-sol-villas" class="Header-nav-folder-item">SOL VILLAS</a>
      </span>
    </span><a href="/#connect_with_nambui" class="Header-nav-item">Connect With Me</a>
    </div>
